body {
    background-image: url("train.jpg");
    background-size:cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.container {
    background: white;
    max-width: 80%;
    justify-content: center;
    /* margin: auto; */
    border-radius: 10px;
    padding: 10%;
    opacity: 0.8;
    /* box-shadow: 2px 2px rgb(212, 207, 207); */
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #2C2891;
}

#increment-btn:hover {
    background-color: #6f6dac;
  }

#save-btn:hover {
    background: #7cb898;
}
#save-btn {
    background: #1C7947;
}

#save-el {
    font-weight: bold;
}

#reset-btn{
    background: #d82c34;
}
#reset-btn:hover {
    background: #cf7276;
}

